[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

ansible = "==2.3.2"
molecule = "==2.1.0"
testinfra = "==1.6.3"
python-vagrant = "==0.5.15"
requests = "*"
